@media screen and (max-width: 1320px) {

    .myinfopara {
        height: 150px;
        padding: 0 50px 0 50px;
    }
}


@media screen and (max-width: 1115px) and (min-width: 600px) {

    .rightherobanner {
        text-align: center;
    }

    .profilepic {
        height: 300px;
        width: 300px;
    }

    .myinfoimage {
        width: 230px;
        height: 230px;
    }

    .myinfoheader {
        font-size: 30px;
    }

    .myinfopara {
        height: 150px;
        font-size: 18px;
        padding: 0 20px 0 20px;
    }

    #name {
        font-size: 60px;
    }

}