@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=Titillium+Web&display=swap');

.top {
    background-color: #19415C;
}

.navbartop {
    display: flex;
    height: 90px;
    justify-content: space-between;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    align-items: center;
    font-family: 'Titillium Web', sans-serif;
    font-size: 25px;
    border-bottom: 5px solid #cccccc;
}

.icon {
    display: flex;
    justify-content: center;
    margin-left: 50px;
}

.iconpic {
    height: 70px;
    width: 70px;
    margin: 20px;
}

.iconpic:hover {
    filter: drop-shadow(0px 0px 7px rgba(255, 255, 255, 1));
}

.rightsidetop {
    display: flex;
    padding-right: 75px;
}

.rightside {
    display: flex;
    width: 300px;
    justify-content: space-between;
}

.rightside > a {
    color: white;
    text-decoration: none;
}

.desktopshowA, .desktopshowB, .desktopshowC {
    padding: 12px;
    transition: all 0.2s ease-in-out;
}

.desktopshowA:hover, .desktopshowB:hover, .desktopshowC:hover {
    border-radius: 100px;
    box-shadow: 0 5px 15px rgba(255, 255, 255, 0.4);
    background-color: #dbf5ff;
    transform: scale(1.1);
}

.hamburgermenu {
    height: 0px;
    width: 100%;
    background-color: #19415C;
    color: black;
    display: none;
}

.hamburgermenu > a {
    color: white;
    text-decoration: none;
}

.hidden {
    height: 33.3%;
    padding-left: 50px;
    display: flex;
    align-items: center;
    border-bottom: 5px solid #cccccc;
    color: white;
}

.hidden:hover {
    background-color: #dbf5ff;
    color: black;
    text-shadow: 0px 0px 7px rgb(26,65,92,1);
}

.aboutbanner {
    height: 2900px;
    box-sizing: border-box;
    background-color: #dbf5ff;
}

.abovebanner{
    height: 200px;
}

.belowbanner {
    height: 250px;
}

.aboutname {
    text-align: center;
    font-size: 100px;
    font-family: 'Fjalla One', sans-serif;
    background-color: #19415C;
    color: white;
    padding: 50px 0 50px 0;
    border-top: 5px solid #cccccc;
    border-bottom: 5px solid #cccccc;
    transform: translate(0px, 300px);
    transition: all 1s ease-in-out;
    opacity: 0;
}

.aboutnameslide {
    transform: translate(0px, 0px);
    opacity: 1;
}

.aboutmepara {
    height: 710px;
    background-color: #19415C;
    color: white;
}

.aboutmeinfo {
    transform: translate(0px, 300px);
    opacity: 0;
}

.aboutmeslideup {
    transform: translate(0px, 0px);
    transition: all 1s ease-in-out;
    opacity: 1;
}

.skills {
    height: 600px;
    transform: translate(0px, 300px);
    opacity: 0;
}

.skillspic {
    display: grid;
    height: 500px;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
}

.currentskills {
    grid-area: 1/1/2/2;
    border-right: 1px solid #cccccc;
}

.futureskills {
    grid-area: 1/2/2/3;
}

.currentskills > h2, .futureskills > h2 {
    font-size: 50px;
    text-align: center;
    margin: 40px;
    padding: 30px;
    border: 5px solid #cccccc;
    background-color: #19415C;
    color: white;
    font-family: 'Fjalla One', sans-serif;
}

.imageskills {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.imageskills > img {
    margin: 10px;
}

/* https://www.w3schools.com/howto/howto_css_shake_image.asp */

.imageskills > img:hover {
    animation: shaking 1s;
    animation-iteration-count: infinite;
}

@keyframes shaking {
    0% { transform: translate(2px, 2px) rotate(0deg); }
    10% { transform: translate(-2px, -4px) rotate(-5deg); }
    20% { transform: translate(-6px, 0px) rotate(5deg); }
    30% { transform: translate(6px, 4px) rotate(0deg); }
    40% { transform: translate(2px, -2px) rotate(5deg); }
    50% { transform: translate(-2px, 4px) rotate(-5deg); }
    60% { transform: translate(-6px, 2px) rotate(0deg); }
    70% { transform: translate(6px, 2px) rotate(-5deg); }
    80% { transform: translate(-2px, -2px) rotate(5deg); }
    90% { transform: translate(2px, 4px) rotate(0deg); }
    100% { transform: translate(2px, -4px) rotate(-5deg); }
}

.aboutmepara > h1{
    text-align: center;
    margin-top: 50px;
    font-size: 70px;
    height: 100px;
    padding-top: 20px;
    font-family: 'Fjalla One', sans-serif;
    border-top: 5px solid #cccccc;
}


.skills > h1{
    text-align: center;
    margin-top: 50px;
    font-size: 70px;
    height: 100px;
    background-color: #19415C;
    color: white;
    font-family: 'Fjalla One', sans-serif;
    border-bottom: 5px solid #cccccc;
    border-top: 5px solid #cccccc;
    padding-top: 10px;
}

.aboutmeinfogrid {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 4fr 6fr;
    height: 600px;
}

.interestsgrid {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 3fr 1fr;
    height: 600px;
    text-align: center;
}

.interests {
    transform: translate(0px, 300px);
    opacity: 0;
}

.interestsslideup {
    transform: translate(0px, 0px);
    transition: all 1s ease-in-out;
    opacity: 1;
}

.interestspara {
    align-self: center;
    justify-self: center;
    width: 85%;
    font-size: 18px;
    font-family: 'Titillium Web', sans-serif;
}

.icons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.icons > div > img {
    height: 80px;
    width: 80px;
}

@keyframes bounce {
    0% {
        transform: scale(1.0);
        -webkit-transform: scale(1.0);
    }
    50% {
        transform: scale(1.2);
        -webkit-transform: scale(1.2);
    }
    100% {
        transform: scale(1.0);
        -webkit-transform: scale(1.0);
    }
}

.icons > div > img:hover {
    filter: drop-shadow(0px 0px 10px rgba(219, 244, 255, 1));
    animation: bounce 2s ease-in-out infinite alternate;
    transition: all 1s ease-in-out;
}


.iconholder {
    display: flex;
    cursor: pointer;
    height: 120px;
    width: 120px;
    justify-content: center;
    align-items: center;
    border-radius: 60px;
}

.iconOne, .iconTwo, .iconThree {
    transform: translate(-100px, 0px);
    opacity: 0;
}

.iconFour, .iconFive, .iconSix {
    transform: translate(100px, 0px);
    opacity: 0;
}

.iconOne, .iconFour {
    transition: transform 2s ease-in-out, opacity 2s ease-in-out;
}

.iconTwo, .iconFive {
    transition: transform 2s ease-in-out 2s, opacity 2s ease-in-out 2s;
}

.iconThree, .iconSix {
    transition: transform 2s ease-in-out 4s, opacity 2s ease-in-out 4s;
}

.slidein {
    transform: translate(0px, 0px);
    opacity: 1;
}

.iconholdertoggle {
    filter: drop-shadow(0px 0px 10px rgba(219, 244, 255, 1));
    background-color: #dbf5ff;
    transition: all 1s ease-in-out;
}

.aboutmepic {
    justify-self: center;
    align-self: center;
    height: 400px;
    width: 400px;
    border: 5px solid #cccccc;
    background-image: url(https://res.cloudinary.com/dpggcudix/image/upload/v1595121567/788FD670-E4C9-4565-A38D-F0A41E2BA27D_pncy0x.png) ;
    background-size: cover;
    border-radius: 50%;
    grid-area: 1/1/3/2;
}


.aboutmetext {
    justify-self: center;
    align-self: center;
    height: 50%;
    width: 80%;
    font-size: 20px;
    text-align: center;
    font-family: 'Titillium Web', sans-serif;
    grid-area: 1/2/2/3;
}

.mission {
    justify-self: center;
    align-self: flex-start;
    height: 50%;
    width: 80%;
    font-size: 20px;
    text-align: center;
    font-family: 'Titillium Web', sans-serif;
    grid-area: 2/2/3/3;
}


img {
    width: 110px;
    height: 110px;
}


.end {
    height: 80px;
    border-top: 5px solid #cccccc;
}

.copyright {
    text-align: center;
    background-color: #19415C;
    padding-top: 25px;
    height: 80px;
    font-size: 20px;
    color: white;
    font-family: 'Fjalla One', sans-serif;
}

@media screen and (max-width: 1115px) {

    .aboutmepic {
        width: 300px;
        height: 300px;
    }

    .aboutmetext, .mission, .interestspara {
        font-size: 15px;
    }

    .aboutmeinfogrid {
        grid-template-columns: 8fr 9fr; 
    }

    .currentskills > h2, .futureskills > h2 {
        font-size: 40px;
        text-align: center;
        margin: 30px;
        padding: 20px;
    }

    img {
        width: 90px;
        height: 90px;
    }
    
}

@media screen and (max-width: 720px) {

    .aboutmepara {
        height: 750px;
    }

    .aboutmeinfogrid, .interestsgrid {
        display: flex;
        flex-direction: column;
        height: 800px;
    }

    .aboutmepic {
        height: 250px;
        width: 250px;
    }
    
    .aboutmepara > h1{
        padding-bottom: 0px;
        font-size: 40px;
    }

    .skills > h1{
        padding-top: 20px;
        font-size: 40px;
    }

    .aboutbanner {
        height: 2900px;
    
    }
    .abovebanner{
        height: 200px;
    }
    
    .belowbanner {
        height: 110px;
    }

    .currentskills > h2, .futureskills > h2 {
        font-size: 25px;
        text-align: center;
        margin: 60px;
    }

    img {
        width: 75px;
        height: 75px;
    }

    .skillspic {
        display: flex;
        flex-direction: column;
        height: 500px;
        justify-content: space-around;
    }

    .aboutmetext, .mission {
        height: 175px;
    }

    .aboutmetext {
        padding-top: 20px;
    }

    .mission {
        align-self: center;
    }

    .rightsidetop {
        padding-right: 50px;
    }

    .icons {
        display: flex;
        flex-direction: row;
        justify-content: space-around;

    }

    .interestspara {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0px;
        height: 400px;
        font-size: 15px;
    }

}

@media screen and (max-width: 600px) {

    .hamburger::before {
        content: '\2630';
        font-size: 35px;
        color: #dbf5ff;
        position: relative;
        display: flex;
        transition: all 0.2s ease-in-out;
        cursor: pointer;
        justify-content: center;
    }
    /* https://stackoverflow.com/questions/30064643/css-wont-flip-a-unicode-font-icon-and-wont-change-its-color-on-hover */

    .hamburger:hover:before {
        color: black;
        transform: scale(1.25);
    }

    .hamburgercrossed::before {
        content: '\2715';
        font-size: 35px;
        color: #dbf5ff;
        position: relative;
        display: flex;
        transition: all 0.2s ease-in-out;
        cursor: pointer;
        justify-content: center;
    }

    .hamburgerdiv {
        width: 60px;
        height: 55px;
    }

    .hamburgerdiv:hover {
        background-color: #dbf5ff;
        border-radius: 20px;
    }

    .hamburgerdiv > .hamburger:hover {
        text-decoration: none;
    }

    .rightsidetop {
        padding-right: 20px;
        flex-direction: column;
        position: relative;
    }


    .shown {
        display: block;
        position: relative;
        height: 200px;
        font-size: 25px;
    }

    .rightside {
        display: none;
    }

    .icon {
        margin-left: 5px;
    }

    .hidden {
        padding-left: 25px;
    }

    .aboutname {
        font-size: 50px;
    }

    .abovebanner {
        height: 230px;
    }
    
    .belowbanner {
        height: 150px;
    }

    .aboutmetext, .mission {
        font-size: 14px;
    }

    .currentskills > h2, .futureskills > h2 {
        font-size: 25px;
        text-align: center;
        margin: 40px;
    }

    img {
        width: 10vw;
        height: 10vw;
    }
}

@media screen and (max-width: 430px) {

    .aboutmetext, .mission {
        font-size: 13px;
    }

    .mission {
        margin-top: 20px;
    }

    .icons > div > img {
        height: 50px;
        width: 50px;
    }

    .iconholdertoggle {
        filter: drop-shadow(0px 0px 10px rgba(219, 244, 255, 1));
        transform: scale(1.25);
        background-color: #dbf5ff;
        transition: all 1s ease-in-out;
    }

    .iconholder {
        height: 70px;
        width: 70px;
    }

    .interestspara {
        font-size: 12px;
    }
}
